// import variables
@use 'variables' as *;

// about section
#about {
    padding: 30px 0;

    // wrapper
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 5%;

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            flex-flow: column nowrap;
        }
    }

    // content container
    .about-content {
        background: rgba($white, 0.8);
        border: solid $color2 5px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 100%;
        width: 95%;
        padding: 20px;
        margin: 0 auto 20px auto;
        text-align: left;
        p {
            margin: 0;
        }
        a {
            &:hover,
            &:focus {
                color: $color2;
                transition: 0.4s;
            }
        }

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            margin-top: 20px;
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            width: 85%;
        }
    }
}