// fade-in animation
@keyframes fade-in {
    0% {opacity: 0;}

    100% {opacity: 1;}
}

// fade-out animation
@keyframes fade-out {
    0% {opacity: 1;}

    100% {opacity: 0;}
}

// pulse animation
@keyframes pulse {
    0% {opacity: 0; transform: translate(-50%, -20px);}

    50% {opacity: 1;}

    100% {opacity: 0; transform: translate(-50%, 0px);}
}