@use 'variables' as *;

// background gradient animation
@keyframes gradient {
    0% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

// fade-in animation
@keyframes fade-in-tpl {
    0% {
        opacity: 0;
    };
    100% {
        opacity: 1;
    };
};

// fade-in error animation
@keyframes fade-in-tpl-error {
    0% {
        opacity: 0;
        color: $black;
        border: solid $black 3px;
    };
    100% {
        opacity: 1;
        color: $white;
        border: solid $color2 3px;
    };
};

// fade-in animation
@keyframes fade-in {
    0% {
        opacity: 0;
    };
    100% {
        opacity: 1;
    };
};

// fade-in-black animation
@keyframes fade-black-in-to-black {
    0% {
        opacity: 0;
        background-color: $black;
    };
    20% {
        opacity: 0;
    };
    100% {
        opacity: 1;
    }
};

// fade-in-black-in animation
@keyframes fade-black-in-to-white {
    0% {
        opacity: 0;
        background-color: $black;
    };
    20% {
        opacity: 0;
        background-color: $black;
    };
    100% {
        opacity: 1;
        background-color: $white;
    }
};

// fade-in error animation
@keyframes fade-in-error {
    0% {
        opacity: 0;
        color: $white;
        border: solid $white 5px;
    };
    100% {
        opacity: 1;
        color: $black;
        border: solid $color2 5px;
    };
};

// fade-out animation
@keyframes fade-out {
    0% {
        opacity: 1;
    };
    100% {
        opacity: 0;
    };
};

// pulse animation
@keyframes pulse {
    0% {
        opacity: 0;
        transform: translate(-50%, -20px);
    };
    50% {
        opacity: 1;
    };
    100% {
        opacity: 0;
        transform: translate(-50%, 0px);
    };
};

body {
    animation: fade-black-in-to-white 1.5s;
}

body.dark-mode {
    animation: fade-black-in-to-black 1.5s;
}

.about-content, .gallery-container, .projects-container, .services-content, .contact-content {
    animation: fade-in 2s;
}