// import variables
@use 'variables' as *;

// contact section
#contact {
    margin-bottom: 10px;
    padding: 30px 0;

    // content container
    .contact-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: left;
        width: 95%;
        background: rgba($white, 0.8);
        border: solid $color2 5px;
        padding: 20px;
        margin: 0 auto;
        p {
            margin: 0;
            a {
                &:hover, &:focus {
                    color: $color2;
                    transition: 0.4s;
                }
            }
        }
    }
    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        padding: 70px 0 50px 0;

        // content container
        .contact-content {
            width: 85%;
            margin-top: 20px;
        }
    }
}