// import variables
@use 'variables' as *;

// header section
header {
    height: 100vh;
    min-height: 600px;
    max-height: 1000px;
    position: relative;

    // navigation
    nav {

        // hamburger button
        .hamburger-btn {
            display: none;

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                display: initial;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 5;
                background: $color1;
                border-bottom: solid $white 5px;
                position: fixed;
                &:hover,
                &:focus {
                    cursor: pointer;
                    background: $color2;
                    color: $color1;
                    transition: 0.4s;
                    button {
                        color: $color1;
                        cursor: pointer;
                    }
                }
                button {
                    background: none;
                    border: none;
                    float: left;
                    padding: 0 10px;
                    height: 52px;
                    .ham-icon {
                        margin: 10px;
                        transform: rotate(0deg);
                        transition: transform 0.4s;
                    }
                }
                .nav-name {
                    visibility: hidden;
                    float: right;
                    margin: 0 10px;
                    min-height: 52px;
                    padding: 15px 0;
                }
                &.hamburger-active {
                    background: $white;
                    border-bottom: solid $color2 5px;
                    color: $color1;
                    button {
                        color: $color1;
                        .ham-icon {
                            transform: rotate(90deg);
                        }
                    }
                    .nav-name {
                        visibility: visible;
                        animation: fade-in 0.4s;
                    }
                }
            }
        }

        // nav list
        ul {
            display: flex;
            opacity: 1;
            justify-content: space-between;
            width: 60%;
            margin: 0 auto 20px auto;
            padding: 20px 0 0 0;
            list-style: none;
            li a {
                padding: 10px 20px;
            }

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                display: none;
                position: fixed;
                right: 0;
                padding-top: 60px;
                flex-flow: column;
                justify-content: center;
                background: $color1;
                height: 100vh;
                opacity: 0;
                width: 100%;
                z-index: 3;
                li {
                    display: block;
                    padding: 20px;
                    width: 100%;
                    a {
                        color: $black;
                        &:hover, &:focus {
                            background: rgba($color2, 0.8);
                        }
                    }
                }
            }
        }
    }

    // main title
    .title {
        width: 100%;
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: 1s ease-in-out fade-in;
    }

    // scroll down button
    .scroll-down {
        position: absolute;
        bottom: 10%;
        left: 50%;
        animation: 4s infinite ease-in-out pulse;
        &:hover {
            cursor: pointer;
            transition: 0.4s;
        }
        i {
            color: $color1;
            &:hover {
                color: rgba($color2, 0.8);
            }
        }
    }
}