@use 'mixins' as *;
@use 'variables' as *;
@use 'animations';

html.mini {
    background: $black;
    
    body, header, section, footer {
        background: $black !important;
        height: auto !important;
        min-height: unset !important;
    }

    .wrapper {
        width: 90% !important;
    }

    h1, h2, h3 {
        text-align: center;
        cursor: text;
        color: $white;
        width: 100%;
        max-width: 850px;

        @media only screen and (max-width: $mobile) {
            text-align: left;
        }
    }

    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.25rem;
    }
}