// import variables
@use "variables" as *;

// flexboxes
@mixin flex ($direction, $gap: 0, $justify: initial, $align: initial) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
    gap: $gap;
    justify-content: $justify;
    align-items: $align;
}

// positioning
@mixin positioning ($position, $top: initial, $right: initial, $bottom: initial, $left: initial) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// bordered boxes
@mixin borderedBox ($backgroundColour, $borderColour) {
    background: $backgroundColour;
    border: solid $borderColour 5px;
}

// text sizing, alignment, etc.
@mixin textStyle ($size, $alignment: left, $lineHeight: 1.25, $colour: $black) {
    font-size: $size;
    text-align: $alignment;
    line-height: $lineHeight;
    color: $colour;
}