// import variables
@use 'variables' as *;

// projects
#projects {
    padding: 30px 0;

    .projects-nav {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        margin: 20px 0;
        p {
            margin: 0;
        }
        .project-categories {
            padding: 0;
            display: flex;
            flex-flow: row wrap;
            gap: 10px;
            margin: 0;
        }
    }
    
    // projects container
    .projects-container {
        max-width: 95%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10px;
        text-align: left;
        margin: 0 auto;
        padding-bottom: 20px;

        // individual projects
        .project {
            text-align: center;
            height: 100%;
            width: calc(50% - 5px);
            max-width: 550px;
            background: $color1;
            border: solid $color2 5px;
            margin: 0;
            h4, h5 {
                margin: 0;
                padding: 0px 20px;
            }
            h4 {
                padding-top: 20px;
                padding-bottom: 5px;
            }

            // project details
            .project-details {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                padding: 20px;
                overflow: hidden;
                .button {
                    cursor: pointer;
                    margin: 5px;
                }
                hr {
                    display: none;
                    margin: 20px 0;
                    opacity: 0;
                    transition: opacity 0.4s;
                }
                p {
                    margin: 0;
                    width: 100%;
                    max-height: 0;
                    opacity: 0;
                    transition: opacity, max-height 0.4s;
                }
            }
        }
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {

        .projects-nav {
            display: flex;
            flex-flow: column wrap;
            gap: 0;
    
            // project categories
            .project-categories {
                padding: 10px 0;
                display: flex;
                flex-flow: row wrap;
                gap: 10px;
            }
        }

        .project-categories {
            display: block;
            width: 100%;
            text-align: left;
        }

        // projects container
        .projects-container {
            flex-flow: column;
            width: 550px;
            max-width: 85%;

            // individual projects
            .project {
                width: 100%;
            }
        }
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        .projects-nav {
            width: 85%;
            margin: 20px auto;
        }
    }
}