@use 'mixins' as *;
@use 'variables' as *;
@use 'animations';

html.rustprop {
    body {
        background-color: $black;
    }

    body, .button {
        text-transform: uppercase;
    }

    header {
        background: none !important;
    }

    .rp-hr {
        border: solid 2px rgba($white, 0.75);
        margin-top: 30px;
        max-width: 950px;
    }

    h1 {
        text-align: center;
        cursor: text;
        width: 85%;
        max-width: 950px;
        border-bottom: solid 4px rgba($white, 0.75);
        padding-bottom: 20px;

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            text-align: left;
            width: 85%;
            display: flex;
        }
    }

    h1 a {
        background-color: rgb(95, 31, 71);
        text-decoration: none;
        color: $white;
        font-style: normal;
        font-weight: 400;
        user-select: initial;
        line-height: 1;
        padding: 0 25px;

        @media only screen and (max-width: $mobile) {
            width: 100%;
        }
    }

    .img-gallery, footer {
        opacity: 0;
        animation: fade-in-tpl 0.4s ease-in 0.2s forwards;
    }

    main, header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header {
        position: initial;
        min-height: auto;
        height: auto;
        max-height: none;
        margin: 0;
        padding: 0;
        padding-top: 20px;
        margin-bottom: 10px;
    }

    .btn-container {
        width: 50%;

        .kofi-button {
            min-width: 100%;
        }
    }

    @media only screen and (max-width: $tablet) {
        .btn-container {
            width: 75%;
        }
    }

    @media only screen and (max-width: $mobile) {
        .btn-container {
            width: 100%;
        }
    }

    main {
        margin: 0 auto;

        .rp-landing {
            width: 85%;
            max-width: 950px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            padding-top: 10px;
            padding-bottom: 20px;
            margin-bottom: 30px;
            border-bottom: solid 4px rgba($white, 0.75);
            p, a {
                color: $white;
                font-size: 1rem;
                text-align: center;
                text-decoration: none;
            }
            a {
                color: $black;
                background-color: $color2;
                padding: 2px 5px;
            }
            a img {
                height: 0.9rem;
                margin-left: 10px;
                margin-bottom: -0.3%;

                &.lrg {
                    transform: scale(1.15)
                }

                @media only screen and (max-width: $mobile) {
                    transform: skew(-10deg);
    
                    &.lrg {
                        transform: scale(1.15) skew(-10deg);
                    }
                }
            }
            p {
                width: 80%;
            }
            a:hover, a:focus {
                background-color: rgba($white, 0.75);
                img {
                    transform: skew(-10deg);

                    &.lrg {
                        transform: scale(1.15) skew(-10deg);
                    }
                }
                @media only screen and (max-width: $mobile) {
                    background-color: $color2;

                    img {
                        transform: skew(-10deg);
    
                        &.lrg {
                            transform: scale(1.15) skew(-10deg);
                        }
                    }
                }
            }
        }

        .rp-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            font-size: 1rem;
            gap: 15px;

            @media only screen and (max-width: $mobile) {
                width: 85%;
                justify-content: space-between;
            }
    
            .rp-nav-btn {
                color: $black;
                background-color: $color2;
                padding: 3px 10px;
                font-size: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
        
                img {
                    height: 1.15rem;
                    margin-bottom: -0.3%;
                    margin-right: 10px;
                    margin-left: -5px;
        
                    &.right {
                        transform: rotate(180deg);
                        margin-left: 10px;
                        margin-right: -5px;
                    }

                    @media only screen and (max-width: $mobile) {
                        transform: skew(-12deg);

                        &.right {
                            transform: rotate(180deg) skew(-12deg);
                        }
                    }
                }

                &:hover, &:focus {
                    background-color: rgba($white, 0.75);
                    color: $black;

                    img {
                        transform: skew(-12deg);

                        &.right {
                            transform: rotate(180deg) skew(-12deg);
                        }
                    }

                    @media only screen and (max-width: $mobile) {
                        background-color: $color2;
                    }
                }

                &.disabled {
                    opacity: 0.25;
                    font-style: italic;
                    font-size: 1rem;
                    padding: 0px 10px;

                    img {
                        transform: skew(-12deg);

                        &.right {
                            transform: rotate(180deg) skew(-12deg);
                        }
                    }

                    &:hover, &:focus {
                        background-color: $color2;
                    }
                }
            }
        }

        .img-gallery {
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 85%;
            max-width: 600px;
            margin-top: 30px;
            margin-bottom: 30px;
            .item {
                display: flex;
                flex-direction: column;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    pointer-events: none;
                    border-top: solid rgba($white, 0.75) 5px;
    
                    &:first-of-type {
                        border-top: none;
                    }
                }
                .img-caption {
                    background-color: rgba($white, 0.75);
                    text-align: center;
                    font-size: 0.85rem;
                    padding: 20px;

                    // responsive to mobile
                    @media only screen and (max-width: $mobile) {
                        padding: 10px;
                    }

                    br {
                        margin-bottom: 10px;
                    }

                    .headline a {
                        word-break: break-all;
                    }

                    a {
                        font-size: 0.85rem;
                        color: $white;
                        background-color: rgba($black, 0.75);
                        padding: 0 10px;
                        text-decoration: none
                    }
                }
            }
        }

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            .rp-landing {
                flex-flow: column nowrap;
                width: 85%;
                p {
                    width: 100%;
                }
            }
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            .rp-landing {
                align-items: flex-start;
                margin-bottom: 25px;
                p, a {
                    text-align: left;
                }
            }
        }
    }
    
    footer {
        padding-top: 20px;
        padding-bottom: 40px;

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            padding-top: 10px;
            padding-bottom: 30px;
        }
        
        p.credit {
            color: $white;
        }

        p.credit, a {
            width: 85%;
            max-width: 950px;
            margin: 0 auto;
            font-size: 14px;

            // responsive to mobile
            @media only screen and (max-width: $mobile) {
                text-align: left;
            }
        }
        a {
            color: $black;
            background-color: $color2;
            padding: 2px 5px;
            text-decoration: none;
        }
        a:hover, a:focus {
            background-color: rgba($white, 0.75);
            color: $black;
            img {
                transform: skew(-10deg);

                &.lrg {
                    transform: scale(1.15) skew(-10deg);
                }
            }
            @media only screen and (max-width: $mobile) {
                background-color: $color2;

                img {
                    transform: skew(-10deg);

                    &.lrg {
                        transform: scale(1.15) skew(-10deg);
                    }
                }
            }
        }
    }
}