@use 'mixins' as *;
@use 'variables' as *;
@use 'animations';

html.rustprop {
    body {
        background-color: $black;
    }

    body, .button {
        text-transform: uppercase;
    }

    header {
        background: none !important;
    }

    h1 {
        text-align: center;
        cursor: text;
        color: $white;
        width: 85%;
        max-width: 850px;
        border-bottom: solid 2px $color2;
        padding-bottom: 20px;

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            text-align: left;
        }
    }

    h1 {
        font-style: normal;
        font-size: 60px;
        user-select: initial;
    }

    main, footer {
        opacity: 0;
        animation: fade-in-tpl 0.4s ease-in 0.2s forwards;
    }

    main, header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header {
        position: initial;
        min-height: auto;
        height: auto;
        max-height: none;
        margin: 0;
        padding: 0;
        padding-top: 30px;
        margin-bottom: 10px;
    }

    main {
        margin: 0 auto;

        .rp-landing {
            width: 100%;
            max-width: 900px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            margin: 10px 0;
            padding-top: 10px;
            padding-bottom: 20px;
            p, a {
                color: $white;
                font-size: 1rem;
                text-align: center;
            }
            a:hover {
                color: $color2;
                // responsive to mobile
                @media only screen and (max-width: $mobile) {
                    color: $white;
                }
            }
        }

        .img-gallery {
            display: flex;
            flex-direction: column;
            width: 85%;
            max-width: 600px;
            margin-bottom: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
                margin-top: 40px;

                &:first-of-type, &.slide-x {
                    margin: 0;
                }

                &.slide-x {
                    border-top: solid rgba($white, 0.75) 5px;
                }
            }
            .img-caption {
                background-color: rgba($white, 0.75);
                text-align: center;
                font-size: 0.85rem;
                padding: 20px 10px;

                a {
                    font-size: 0.85rem;

                    &:hover {
                        color: #5f1f47;
                        // responsive to mobile
                        @media only screen and (max-width: $mobile) {
                            color: $black;
                        }
                    }
                }
            }
        }

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            .rp-landing {
                flex-flow: column nowrap;
                width: 85%;
            }
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            .rp-landing {
                align-items: flex-start;
                margin: 0;
                p, a {
                    text-align: left;
                }
            }
        }
    }
    
    footer {
        padding-top: 20px;
        padding-bottom: 40px;

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            padding-top: 10px;
            padding-bottom: 30px;
        }

        p.credit, a {
            width: 85%;
            max-width: 850px;
            margin: 0 auto;
            color: $white;
            font-size: 14px;

            // responsive to mobile
            @media only screen and (max-width: $mobile) {
                text-align: left;
            }
        }

        a:hover {
            color: $color2;
            // responsive to mobile
            @media only screen and (max-width: $mobile) {
                color: $white;
            }
        }
    }
}