@use 'mixins' as *;
@use 'variables' as *;

html.share {
    background-color: rgba($black, 0.9);
}

main {
    background-color: rgba($black, 0.9);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    padding: 50px 0;
    align-items: center;
    justify-content: center;

    .portrait img {
        width: 150px;
        border: 4px solid $color1;
    }

    h1, h2, h3 {
        text-align: center;
        cursor: text;
        color: $white;
        max-width: 850px;
        
        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            max-width: 550px;
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            max-width: 375px;
        }
    }

    h1 {
        font-size: 32px;
        margin: 15px;
    }
    
    h2 {
        font-style: italic;
        font-size: 22px;
        margin: 0;

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            font-size: 18px;
        }
    }

    h3 {
        min-width: 60%;
        font-style: normal;
        font-size: 18px;
        margin: 0;
        padding: 0;

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            font-size: 14px;
        }
    }

    hr {
        width: 850px;
        margin: 20px 0;
        border: 1.5px solid $color2;

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            max-width: 550px;
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            max-width: 375px;
        }
    }

    .share-links {
        .share-link {
            background-color: $color1;
            min-width: 400px;
            @include textStyle (20px, center);
            @include flex(column, 10px, center, center);
            width: auto;
            margin: 10px;
            cursor: pointer;
          
            p {
              @include textStyle (18px, center);
              margin: 0;
            }

            .button-description {
                font-size: 14px;
                font-style: normal;
            }

            hr {
                border: solid 1px $black;
                width: 90%;
                margin: 0;
            }
          
            &:hover {
              background: $color2;
            }

            // responsive to mobile
            @media only screen and (max-width: $mobile) {
                min-width: 350px;
                
                p {
                    max-width: 250px;
                }
            }
        }
    }
}