@use 'variables' as *;

html.sitemap {
    body {
        background: $black !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $black;
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
    
        a:hover, a:focus {
            color: $white;
            background: linear-gradient(120deg, $color2 0%, $color2 100%);
            background-size: 100% 15%;
            background-position: 25 97%;
            text-decoration: none;
        }
    
        header, main, footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
        }
    
        header {
            background: rgba($color1, 0.6);
            position: initial;
            height: auto;
            min-height: auto;
            padding: 50px;
            gap: 10px;
    
            @media only screen and (max-width: $tablet) {
                padding: 25px;
            }
    
            h1, p, a {
                color: $white;
                text-align: center;
            }
    
            h1 {
                font-size: 3rem;
                line-height: 1.25;
                margin: 0;
    
                &:hover {
                    font-style: normal;
                }
    
                @media only screen and (max-width: $tablet) {
                    font-size: 2rem;
                    font-style: normal;
                }
            }
    
            hr {
                border-color: $color2;
                border-width: 3px;
                margin: 25px;
            }
        }
        main {
            padding: 50px;
    
            @media only screen and (max-width: $tablet) {
                padding: 0;
            }
    
            table {
                width: 80%;
                background: rgba($color1, 0.1);
                border: solid $color3 5px;
                border-collapse: collapse;
    
                @media only screen and (max-width: $tablet) {
                    width: 100%;
                    border: none;
                    border-bottom: solid $color3 5px;
                }
            }
            table, table a {
                font-size: 0.9rem;
                color: $white;
    
                @media only screen and (max-width: $tablet) {
                    font-size: 0.8rem;
                }
            }
            th {
                background: rgba($color3, 0.25);
                border-bottom: solid $color3 5px;
                height: 50px;
                padding: 10px;
    
                @media only screen and (max-width: $tablet) {
                    border-top: solid $color3 5px;
                }
            }
            tr {
    
                &:nth-of-type(even) {
                    background: rgba($color3, 0.15);
                }
            }
            td {
                padding: 10px;
                height: 50px;
            }
        }
    }
}