@use 'mixins' as *;
@use 'variables' as *;
@use 'animations';

html.tpl {
    body {
        background-color: $black;
    }

    header {
        background: none !important;
        min-width: 380px;
    }

    #contact {
        background: none !important;
        padding: 0 !important;
    }

    h1, h2, h3 {
        text-align: center;
        cursor: text;
        color: $white;
        width: 85%;
        max-width: 850px;

        @media only screen and (max-width: $tablet) {
            text-align: left;
        }
    }

    h1 {
        font-style: normal;
        font-size: 45px;
        user-select: initial;

        @media only screen and (max-width: $tablet) {
            max-width: 450px;
            margin-left: 7%;
        }

        &.four-oh-four {
            margin-bottom: -15px;

            @media only screen and (max-width: $tablet) {
                margin-bottom: -10px;
            }
        }
    }

    h1 a {
        text-decoration: none;
        color: $white;
        font-style: normal;
        user-select: initial;
        line-height: 1;
        width: 90%;
        margin-bottom: 20px;
    }

    h2 {
        margin: 5px 0;

        &.width {
            max-width: 610px;
        }

        @media only screen and (max-width: $tablet) {
            width: 100%;

            &.width {
                width: 85% !important;
            }
        }

        @media only screen and (max-width: $tablet) {
            margin: 10px 0;
        }

        &.tpl-page-heading {
            width: 100%;
            text-align: center;
            border-bottom: solid $color3 3.5px;
            padding-bottom: 15px;
            margin-top: -5px;

            @media only screen and (max-width: $tablet) {
                text-align: left;
            }
        }
    }

    h3 {
        &.previously-datestamp {
            margin: 0 !important;
            padding: 0 !important;
            text-align: left;
        }
    }

    p.js-disabled-tpl {
        width: 65%;
        max-width: 850px;
        font-style: italic;
        padding : 40px 20px;
        text-align: center;
        font-size: 14px;
        color: $black;
        border: solid 3px $black;
        opacity: 0;
        animation: fade-in-tpl-error 0.75s ease-in 1.5s forwards;

        @media only screen and (max-width: $tablet) {
            text-align: left;
            width: 85%;
            padding: 30px 20px;
        }
    }

    hr {
        max-width: 900px;
        margin: 0;
        border: 2px solid $color3;

        @media only screen and (max-width: $tablet) {
            max-width: 90%;
        }

        &.alt {
            border: solid 2px rgba($white, 0.75);
            margin-top: 15px !important;
        }

        &.small {
            max-width: 750px;
        }

        &.no-margin {
            margin: 0 !important;
        }

        &.margin-bottom {
            margin-bottom: 15px !important;
        }

        &.alt-color {
            border-color: $color2;
        }
    }

    main, footer {
        opacity: 0;
        animation: fade-in-tpl 0.4s ease-in 0.2s forwards;
    }

    main, header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header {
        position: initial;
        min-height: auto;
        height: auto;
        max-height: none;
        margin: 0;
        padding: 30px 0;
        position: sticky;
        top: 0;
        background-color: #282b2c !important;
        z-index: 100;
    }

    header.trans-id-header {
        margin-bottom: 0;
        padding-bottom: 10px;
        padding-top: 30px;
    }

    nav {
        margin: 0;
        padding-top: 10px;
        width: auto;
        position: sticky;
        top: 120px;
        background: #282b2c;
        z-index: 100;

        @media only screen and (max-width: $tablet) {
            top: 175px;
            padding-top: 20px;
        }

        hr {
            border-color: $color2;
            width: 100%;
            margin: 0 auto;

            &:first-of-type {
                margin-top: 0;
            }

            @media only screen and (max-width: $tablet) {
                width: 90%;
            }
        }

        .button {
            color: $white;
            border: solid rgba($white, 0.75) 3px;
            background: $black;
            background-image: linear-gradient(120deg, rgba($color3, 0.05) 50%, rgba($color2, 0.05) 100%);
            padding: 7px 25px;
            font-size: 1rem;
            font-style: normal;

            &:hover, &.selected {
                border: solid rgba($color3, 0.75) 3px;
                font-style: italic;
            }

            &.back {
                display: flex;
                justify-content: center;
                margin: -8px;
                margin-bottom: -8px;
                margin-left: calc(50% - 105px);
                padding-left: 15px;
                width: 210px;
                gap: 10px;

                img {
                    height: 25px;
                    padding-top: 2px;
                    filter: invert(1);
                }

                &:hover {
                    img {
                        transform: skew(-10deg);
                    }
                }
            }
        }

        @media only screen and (max-width: $tablet) {

            &:first-of-type, &:nth-of-type(2), &:nth-of-type(3) {
                margin-bottom: 5px;
            }

            .button {
                padding: 7px 25px;
            }

            .button, .button:hover, .button.selected, .button.selected:hover {
                font-style: normal;
            }
            .button:hover {
                border-color: rgba($white, 0.75);
            }
            .button.selected:hover {
                font-style: normal;
                border-color: $color3;
            }

            .button.back {
                margin-left: 7.5%;

                &:hover {
                    img {
                        filter: invert(1);
                        transform: skew(0deg);
                    }
                }
            }
        }

        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            flex-flow: row nowrap;
            gap: 25px;
            padding: 30px 0;
            margin: 0 auto;
            width: 100%;
            max-width: 900px;
            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: none;

            @media only screen and (max-width: $tablet) {
                width: 90%;
                gap: 15px;
                padding-left: 15px;
                padding-right: 15px;
                justify-content: left;
                align-items: center;
            }

            li {
                margin: 0;
                padding: 0;
                
                .button {
                    display: flex;
                    text-wrap: nowrap;
                }
            }
        }
    }

    main {
        margin: 0 auto;
        min-width: 380px;

        hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        @media only screen and (max-width: $tablet) {
            hr {
                margin-top: 18px;
                margin-bottom: 18px;
            }

            hr.no-margin {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        p.badge-code {
            color: $white;
            font-size: 0.8rem;
            max-width: 85%;
            margin: 10px 0;
        }

        textarea {
            border: solid rgba($white, 0.75) 2px;
            min-height: 40px;
            max-height: 200px;
            height: 40px;
            font-family: "Source Code Pro", monospace;
            word-break: break-all;
            color: $white;
            width: 85%;
            max-width: 750px;
            min-width: 200px;
            margin-bottom: 20px;
            font-size: 0.75rem;
            background-color: $black;
            padding: 5px;
        }

        .badges {
            width: 85%;
            max-width: 750px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            gap: 10px;
            margin: 10px 0;
            img {
                margin: 0;
                width: 88px;
                height: 31px;
                border: none;
                image-rendering: pixelated;
                image-rendering: auto;
                image-rendering: crisp-edges;
                image-rendering: -webkit-optimize-contrast;
            }

            a:hover img, button:hover img {
                filter:contrast(1.15);
                border: solid 2px rgba($white, 0.5);

                @media only screen and (max-width: $tablet) {
                    filter: none;
                    border: none;
                }
            }
        }

        @media only screen and (max-width: $tablet) {
            .badges {
                width: 85%;
                margin: 5px 0;
                justify-content: left;

                img {
                    width: 101px;
                    height: 35px;
                }
            }
        }

        .tpl-landing, &.tpl-subpage {
            width: 90%;
            max-width: unset;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            margin: 0;
            padding-top: 15px;
            img.rusty {
                border: solid 3px rgba($white, 0.75);
                margin: 10px 0;
                margin-top: 0;
                width: 225px;
                pointer-events: none;
            }
            p {
                color: $white;
                font-size: 1rem;
                text-align: center;

                @media only screen and (max-width: $tablet) {
                    text-align: left;
                }
            }
        }

        .tpl-landing {
            padding-bottom: 15px;
            padding-top: 30px;
        }

        @media only screen and (max-width: $tablet) {
            .tpl-landing {
                flex-flow: column nowrap;
                width: 85%;
                max-width: 85%;
                img.rusty {
                    width: 175px;
                }
            }
        }

        @media only screen and (max-width: $tablet) {
            .tpl-landing {
                align-items: flex-start;
                margin: 0;
                p {
                    text-align: left;
                }
                .badges {
                    gap: 5px;
                }
            }
        }

        &.tpl-subpage {
            width: 100%;
            margin: 15px auto;
            margin-bottom: 0;

            .tpl-page-content {
                width: 100%;
                max-width: 750px;
                margin-bottom: 10px;

                hr {
                    max-width: 100%;
                    width: 100%;
                    margin-bottom: 15px;
                }

                p {
                    text-align: left;
                }

                .tpl-page-text {
                    hr {
                        width: 100%;
                        max-width: 90vw;
                        margin: 15px auto;
                        border-color: rgba($white, 0.75);
                        margin-top: 25px;

                        &.no-top {
                            margin-top: 15px;
                        }
                    }
                }

                .four-oh-four {
                    p {
                        text-align: center;

                        @media only screen and (max-width: $mobile) {
                            text-align: left;
                        }
                    }
                }

                h2 a {
                    font-size: 1.25rem;
                }

                a {
                    color: $white;
                    font-size: 1rem;

                    &:hover {
                        color: $color1;

                        @media only screen and (max-width: $tablet) {
                            color: $white;
                        }
                    }
                    @media only screen and (max-width: $tablet) {
                        font-style: normal;
                    }
                }

                button.range {
                    color: $white;
                    text-decoration: underline;
                    font-size: 1rem;

                    &:hover {
                        color: $color1;

                        @media only screen and (max-width: $tablet) {
                            color: $white;
                        }
                    }
                    @media only screen and (max-width: $tablet) {
                        font-style: normal;
                    }
                }

                .year-selected, .range-selected {
                    color: $color1;
                    font-size: 1rem;
                    font-style: italic;

                    @media only screen and (max-width: $tablet) {
                        font-style: normal;
                    }
                }

                .tpl-page-text {
                    margin-top: 0;
                    padding-bottom: 0px;
                    margin-bottom: -10px;

                    p {
                        margin: 10px 0;
                    }

                    .sub {
                        margin-left: auto;
                        margin-right: auto;
                        padding: 0 10px;
                        background-image: linear-gradient(120deg, rgba($color3, 0.1) 50%, rgba($color2, 0.1) 100%);
                        max-width: 650px;

                        &.mix {
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 10px;
                            text-decoration: none;
                            border: solid 3px rgba($white, 0.05);
                            background-image: linear-gradient(120deg, rgba($color2, 0.1) 50%, rgba($color3, 0.1) 100%);
                            max-width: 100%;
                            margin-right: 20px;
                            cursor: pointer;
                            transition: background-image 0.5s;

                            @media only screen and (max-width: $tablet) {
                                font-style: normal;
                                margin-left: 0;
                                margin-right: 0;
                            }

                            &.disabled {
                                cursor: default;
                            }
                        }

                        &.mix p {
                            text-align: left;
                            min-width: calc(100% - 120px);
                            line-height: 1.5;
                        }

                        &.mix:hover, &.mix:focus {
                            background-image: linear-gradient(120deg, rgba($color2, 0.2) 50%, rgba($color3, 0.2) 100%);

                            &.disabled {
                                background-image: linear-gradient(120deg, rgba($color2, 0.1) 50%, rgba($color3, 0.1) 100%);
                            }

                            @media only screen and (max-width: $tablet) {
                                background-image: linear-gradient(120deg, rgba($color2, 0.1) 50%, rgba($color3, 0.1) 100%);
                            }
                        }

                        &.mix img {
                            width: 75px;
                            height: 75px;
                            margin: 10px 0;
                            border: solid 3px rgba($white, 0.5);

                            &.icon {
                                border: none;
                                width: 18px;
                                filter: invert(1);

                                &.disabled {
                                    visibility: hidden;
                                }
                            }
                        }
                    }
                }
                @media only screen and (max-width: $tablet) {
                    width: 85%;
                }
            }

            #read, #watched {
                scroll-margin-top: 255px;
                @media only screen and (max-width: $tablet) {
                    scroll-margin-top: 320px;
                }
            }
        }
    
        .tpl-links {
            width: 100%;
            max-width: 750px;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 20px;

            @media only screen and (max-width: $tablet) {
                margin-bottom: 15px;
            }
    
            h3 {
                text-align: center;
                width: auto;
                margin-bottom: 10px;
                padding-top: 0;
                scroll-margin-top: 255px;

                @media only screen and (max-width: $tablet) {
                    max-width: 90%;
                    text-align: left;
                    margin-right: auto;
                    margin-left: auto;
                    scroll-margin-top: 325px;
                }
            }

            h3.h3-trans-id {
                max-width: 95%;
            }
    
            .tpl-link {
                background: $black;
                background-image: linear-gradient(120deg, rgba($color1, 0.05) 50%, rgba($color3, 0.05) 100%);
                border: solid 3px rgba($color1, 0.75);
                min-width: 425px;
                max-width: 600px;
                @include textStyle (20px, left);
                @include flex(column, 10px, center, center);
                width: auto;
                margin: 5px auto;
                margin-bottom: 10px;
                transition: background-image 0.5s;
                padding: 10px 13px;
                padding-right: 13px;

                &.photo {
                    max-width: 95%;
                    margin: 10px auto;
                    margin-bottom: 15px;
                    height: 200px;
                    background-size: cover;
                    background-position: 0% 75%;
                    background-blend-mode: normal;
                    border: solid 3px rgba($white, 0.15);

                    &:first-of-type {
                        margin-top: 25px;
                    }

                    &:last-of-type {
                        margin-bottom: -15px;
                    }

                    &:hover, &:focus {
                        border: solid 3px rgba($white, 0.15);
                        background-blend-mode: color-dodge;
                    }

                    &#clouds {
                        background-image: url('https://clouds.danateagle.com/assets/cloud-10.png');
                    }

                    &#birds {
                        background-image: url('https://birds.danateagle.com/assets/birds-2.png');
                    }

                    @media only screen and (max-width: $tablet) {
                        height: 150px;
                        max-width: 100%;

                        &:hover, &:focus {
                            border: solid 3px rgba($white, 0.15);
                            background-blend-mode: normal;
                        }
                    }
                }

                cursor: pointer;
              
                .link-title {
                    display: flex;
                    gap: 10px;
                    @include textStyle (16px, left);
                    min-width: 100%;
                    color: $white;
                    p {
                        width: calc(100% - 15px);
                        color: $white;
                    }
                    img {
                        width: 18px;
                        filter: invert(1);
                    }
                }
    
                .button-description {
                    min-width: 100%;
                    font-size: 12px;
                    font-style: normal;
                    text-align: left;
                    color: $white;
                }
    
                hr {
                    border: solid 1px rgba($white, 0.75);
                    width: 100%;
                    min-width: 100%;
                    margin: 0;
                }
              
                &:hover, &:focus {
                    background-image: linear-gradient(120deg, rgba($color1, 0.1) 50%, rgba($color3, 0.1) 100%);
                    border: solid 3px rgba($color2, 0.75);

                    @media only screen and (max-width: $tablet) {
                        background-image: linear-gradient(120deg, rgba($color1, 0.05) 50%, rgba($color3, 0.05) 100%);
                        border: solid 3px rgba($color1, 0.75);
                    }
                }
    
                @media only screen and (max-width: $tablet) {
                    min-width: 85%;
                    max-width: 85%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            @media only screen and (max-width: $tablet) {
                min-width: 85%;
            }
        }
    }

    .tpl-categories {
        width: 100%;
        max-width: 750px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            flex-flow: row wrap;
            list-style-type: none;
            justify-content: space-around;
            margin: 10px 0;
            padding: 0;
            gap: 25px;

            li {
                a {
                    display: flex;
                    align-items: center;
                    background: $black;
                    background-image: linear-gradient(120deg, rgba($color3, 0.05) 50%, rgba($color2, 0.05) 100%);
                    border: solid rgba($color2, 0.75) 3px;
                    padding: 5px 10px 5px 13px;
                    font-size: 12px !important;
                    color: $white;
                    text-decoration: none;
                    &:hover {
                        color: $white !important;
                        border: solid rgba($color1, 0.75) 3px;

                        @media only screen and (max-width: $tablet) {
                            border: solid rgba($color2, 0.75) 3px;
                        }
                    }

                    img {
                        width: 16px;
                        margin-left: 5px;
                        filter: brightness(0) saturate(100%) invert(92%) sepia(9%) saturate(134%) hue-rotate(301deg) brightness(99%) contrast(97%);
                    }
                }
            }
        }

        &.logs {
            width: 100%;
            margin: 0 auto;
            margin-top: 15px;
            align-items: center;

            ul {
                gap: 15px;
                justify-content: flex-start;
                width: 100%;
            }
        }
        @media only screen and (max-width: $tablet) {
            display: block;
            width: 85%;

            ul {
                flex-flow: column;
                gap: 0 !important;
                margin: 0;

                li {
                    margin: 5px 0;

                    a {
                        justify-content: space-between;
                        padding: 5px 13px;

                        img {
                            margin-left: 10px;
                        }
                    }
                }
                @media only screen and (max-width: $tablet) {
                    justify-content: left;
                }
            }

            &.left {
                width: 95%;
                margin: 0 auto;

                ul {
                    gap: 0;
                }
            }
        }
    }
    
    footer {
        padding-top: 20px;
        padding-bottom: 15px;
        min-width: 380px;

        @media only screen and (max-width: $tablet) {
            padding-top: 10px;
        }

        p.credit, a {
            width: 85%;
            max-width: 850px;
            margin: 0 auto;
            color: $white;
            font-size: 14px;

            @media only screen and (max-width: $tablet) {
                text-align: left;
            }
        }

        a:hover {
            color: $color3;
            @media only screen and (max-width: $tablet) {
                color: $white;
            }
        }
    }
}