@use 'mixins' as *;
@use 'variables' as *;
@use 'animations';

html.trans-id {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 90%;
    margin: 0 auto;
    body {
        background-image: url("../../../assets/trans-id_bg.png");
        background-repeat: repeat;
        background-size: 500px;
        margin-top: 75px;
        margin-bottom: 75px;
        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            margin-top: 5%;
            margin-bottom: 5%;
        }
    }
    header, main, footer {
        background-color: rgba($white, 0.75);
        border: solid 3px $black;
        h1, h2, h3, p, a, .alt {
            color: $black !important;
        }
        h3, h3 a {
            font-size: 14px;
        }
        h3 {
            padding-top: 15px;
        }
    }
    header {
        border-bottom: none;

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            padding-top: 15px;

            h1 {
                font-size: 38px;
            }
            h2 {
                font-size: 15px;
            }
            h3, h3 a {
                font-size: 12px;
            }
        }
    }
    main {
        padding: 10px;
        border-top: none;
        border-bottom: none;
        .share-links {
            margin-bottom: 0;
        }
        .share-link {
            background-color: rgba($color2, 0.5) !important;
            border-color: $black !important;
            margin: 10px !important;
            hr {
                border-color: $black !important;
            }
            &:nth-of-type(even) {
                background-color: rgba($color4, 0.5) !important;
            }
            &:hover {
                background-color: rgba($color1, 0.5) !important;

                // responsive to mobile
                @media only screen and (max-width: $mobile) {
                    background-color: rgba($color2, 0.5) !important;
                    &:nth-of-type(even) {
                        background-color: rgba($color4, 0.5) !important;
                    }
                }
            }
            // responsive to mobile
            @media only screen and (max-width: $mobile) {
                min-width: 92% !important;
                max-width: 92% !important;
                margin-left: auto !important;
                margin-right: auto !important;
            }
        }
    }
    footer {
        border-top: none; 
        padding-top: 0;
    }
    hr {
        border-color: $black;
    }
}