// import variables
@use "variables" as *;
@use "mixins" as *;

// font imports
@font-face {
  font-family: "Source Code Pro";
  src: url(/fonts/source_code_pro/SourceCodePro-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Old English Text MT";
  src: url(/fonts/old_english_text_mt/old-english-text-mt.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "VT323";
  src: url(/fonts/vt323/vt323.ttf) format("truetype");
  font-display: swap;
}

// default typography
body, button, .button {
  @include textStyle (18px);
  font-family: "Source Code Pro", monospace;
  font-display: swap;
  font-weight: 600;
  line-height: 1.6;
  text-transform: lowercase;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

// selected/highlighted text effect
.selected, .highlight {
  background: linear-gradient(120deg, $color2 0%, $color2 100%);
  background-repeat: no-repeat;
}
.selected {
  background-size: 100% 20%;
  background-position: 0 90%;
}
.highlight {
  background-size: 100% 15%;
  background-position: 0 97%;
}

// responsive to tablet
@media only screen and (max-width: $tablet) {
  .selected {
    background-size: 100% 25%;
    background-position: 0 95%;
  }
  .highlight {
    background-size: 100% 10%;
    background-position: 0 45%;
  }
}

// paragraphs
p {
  margin: 0;
}
.about-content p, .contact-content p, .about-content a, .contact-content a {
  text-align: left;

  // reponsive to tablet
  @media only screen and (max-width: $tablet) {
    text-align: left;
  }

  // reponsive to mobile
  @media only screen and (max-width: $mobile) {
    font-size: 17px;
  }
}

// links
a, button {
  @include textStyle (18px);
  transition: 0.4s color;

  &:hover, &:focus {
    cursor: pointer;
    color: $color3;
    font-style: italic;
  }

  // reponsive to tablet
  @media only screen and (max-width: $tablet) {
    font-style: italic;
  }
}

a:hover {
  @media only screen and (max-width: $tablet) {
    color: $black;
  }
}

// buttons and nav links
button, .button, nav ul li a {
  user-select: none;

  // reponsive to tablet
  @media only screen and (max-width: $tablet) {
    font-style: italic;
  }
}

// scroll down button
.scroll-down {
  @include textStyle (75px, center, "", "");
  cursor: pointer;
  transition: 0.75s;
}

// mobile menu buttons
.menu-icon {
  @include textStyle (22px, center);
}

// scroll to top button
.scroll-to-top {
  @include textStyle (20px, center);
  @include flex(row, 10px, center, center);
  width: auto;
  margin: 10px;
  cursor: pointer;

  img {
    height: 15px;

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      width: 18px;
    }
  }

  p {
    @include textStyle (17px, center);
    margin: 0;
  }

  &:hover {
    background: $color1;
  }
}

// page navigation
nav {

  // nav item links
  ul li a {
    text-decoration: none;
    border-bottom: solid $color3 3px;

    &:hover, &:focus {
      color: $black;
      border-bottom: solid $color2 3px;
      outline: initial;
      transition: 0.4s;
    }
  }
}

// main title
h1 {
  @include textStyle (75px, center, 1);
  font-weight: 600;
  width: 100%;
  margin: 0 auto;
  user-select: none;

  &:hover, &:focus {
    font-style: italic;
  }

  // responsive to tablet
  @media only screen and (max-width: $tablet) {
    @include textStyle (70px, center, 1);
    max-width: 500px;
    font-style: italic;
  }

  // responsive to mobile
  @media only screen and (max-width: $mobile) {
    @include textStyle (50px, center, 1);
    max-width: 400px;
  }
}

html.tpl {
  h1, h2, h3 {
    font-family: "Old English Text MT", serif;
    letter-spacing: 5%;
    font-weight: 400;
  }

  @media only screen and (max-width: $mobile) {
    h1 {
      margin-bottom: -5px;
    }
  }

  h1 a {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;

    &.tpl-page-heading {
      font-size: 1.6rem;
    }
  }

  h3, .tpl-links h3 {
    font-size: 1.6rem;
    font-style: normal;
  }
}

html.rustprop {
  h1 {
    font-family: "VT323", monospace;

    a {
      font-size: 12rem;

      @media only screen and (max-width: $mobile) {
        font-size: 6rem;
      }
    }
  }
}

// section headings
h2 {
  @include textStyle (40px);
  font-weight: 600;
  margin: 0 auto 15px auto;
  width: 100%;
  
  // responsive to mobile
  @media only screen and (max-width: $mobile) {
    @include textStyle (34px);
    width: 85%;
    margin: 10px auto;
    padding: 0;
  }
}

// project headings
h3 {
  @include textStyle (22px, center, 1.5);
  font-weight: 600;
  font-style: italic;
  margin: 0 auto;
  padding: 10px;
  max-width: 85%;

  // responsive to tablet
  @media only screen and (max-width: $tablet) {
    font-size: 22px;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
    max-width: 100%;
  }
}

#gallery h3 {
  font-style: normal;
  font-size: 18px;
  text-align: left;
  margin: 0;
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0;

  // responsive to tablet
  @media only screen and (max-width: $tablet) {
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

#services h3 {
  text-align: left;
  min-width: 100%;
  padding: 0 !important;
  margin-top: -20px;
  padding-top: 10px !important;

  // responsive to tablet
  @media only screen and (max-width: $tablet) {
    padding: 5px 0 !important;
  }
}

#services h4 {
  font-weight: 600;
  margin: 0;
  margin-top: -15px;
}

#services blockquote {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgba($color3, 0.25);
  font-style: italic;
  text-align: left;
  min-width: 100%;
  margin: 0;
  padding: 25px;

  a {
    display: inline;
  }

  .quote-marks {
    font-size: 1.5rem;
    
    &:first-of-type {
      padding-right: 4px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 1.25rem;
    }
  }

  cite {
    font-style: normal;
  }

  // responsive to mobile
  @media only screen and (max-width: $mobile) {
    p, a, cite {
      font-size: 16px !important;
    }
  }
}

// project buttons
.project .button {
  font-size: 14px;
  text-align: center;
}

// projects navigation
.projects-nav {
  p {
    font-size: 18px;
  }
  ul, li, li button {
    font-size: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li button {
    padding-bottom: 5px;
  }
  .selected {
    font-style: italic;
    padding-bottom: 3px;
  }

  // responsive to mobile
  @media only screen and (max-width: $mobile) {
    p {
      font-size: 18px;
    }
    ul, li, li button {
      @include textStyle (15px, "", 1);
      font-style: normal;
    }
    li button, .selected {
      padding: 3px 0;
      padding-right: 5px;
    }
  }
}

// project descriptions
.project-description p, a {
  @include textStyle (18px, center);

  // responsive to tablet
  @media only screen and (max-width: $tablet) {
    text-align: left;
  }

  // responsive to mobile
  @media only screen and (max-width: $mobile) {
    font-size: 17px;
  }
}

// footer text
footer {
  .credit, p, a {
    @include textStyle (18px, center);

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
      @include textStyle (16px, center);
    }

    a:hover {
      color: $color2;
    }
  }
}