@use "variables" as *;

*, input, textarea {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  font-size: 18px;
  font-display: swap;
  color: $black;
}

h1 {
  font-size: 90px;
  margin: 0;
  line-height: 1;
}

h2 {
  font-size: 40px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 15px;
}

h3 {
  font-size: 18px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
  .selected {
    font-style: italic;
    color: $color2;
  }
  a {
    text-decoration: underline;
    cursor: pointer;
  }
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

nav {
  ul {
    li {
      a {
        text-decoration: none;
        // color: $color1;
        &:hover,
        &:focus {
          background: rgba($color1, 0.5);
          // color: $black;
          transition: 0.4s;
        }
        &focus {
          outline: initial;
        }
      }
    }
  }
}

.about {
  font-size: 20px;
}

.button {
  font-family: "Source Code Pro", monospace;
  border: none;
  padding: 10px 25px;
  margin-right: 10px;
  text-decoration: none;
  background: $snow;
  &:hover,
  &:focus {
    background: $color2;
    transition: 0.4s;
  }
}

.contact p {
  font-size: 20px;
  text-align: left;
}

// screens smaller than 768px
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
  }
  h2, h3 {
    text-align: left;
    margin: 10px auto;
    padding: 0;
    width: 85%;
  }
}