// import all partials
@use 'partials/setup';
@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/typography' as *;
@use 'partials/animations';

// default wrapper
.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        width: 100%;
        margin-bottom: 10px;
    }
}

// body background and overflow
body {
    background: $white;

    &.nav-open {
        
        // responsive to mobile
        @media only screen and (max-width: $tablet) {
            overflow-y: hidden;
        }
    }

}

// coloured section backgrounds
#about, #contact {
    background: rgba($color1, 0.8);

    // responsive to mobile
    @media only screen and (max-width: $tablet) {
        background: rgba($color1, 0.6);
    }
}

// section padding
#about, #projects, #contact {
    padding: 30px 0;

    // responsive to mobile
    @media only screen and (max-width: $tablet) {
        padding: 70px 0;
    }
}

// horizontal lines
hr {
    width: 100%;
    border: solid $color1 2px;

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        width: 85%;
    }
}

// buttons
    .button {
        background: $white;
        border: none;
        padding: 10px 25px;

        &:hover, &:focus, &.read-less {
            cursor: pointer;
            background: $color2;
            color: $black;
            font-style: italic;
        }

        &:hover, &:focus {
            transition: background-color 0.75s;
        }

        i {
            font-size: 18px;
        }

        i.fa-external-link-square {
            font-size: 15px;
        }

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            font-style: italic;

            i {
                font-size: 16px;
            }

            i.fa-external-link-square {
                font-size: 12px;
            }

            &:hover, &:focus {
                background: $white;
            }

            &.read-less, &.read-less:hover, &.read-less:focus {
                background: $color2;
            }
        }
    }

// header section
header {
    @include positioning(relative);
    min-height: 500px;
    height: 100vh;
    max-height: 1000px;

    // navigation
    nav {

        // hamburger button
        .hamburger-btn {
            display: none;

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                @include positioning(fixed, 0, "", "", 0);
                cursor: pointer;
                background: $color1;
                border-bottom: solid $color2 5px;
                display: initial;
                width: 100%;
                z-index: 5;
                transition: background-color 0.75s, border-color 0.75s;
                
                button {
                    background: none;
                    border: none;
                    float: left;
                    padding: 0 10px;
                    height: 52px;

                    .ham-icon {
                        margin: 10px;
                        transform: rotate(0deg);
                        transition: transform 0.75s;
                    }

                    &:hover, &:focus {
                        cursor: pointer;
                    }
                }
                .nav-name {
                    visibility: hidden;
                    user-select: none;
                    float: right;
                    margin: 0 10px;
                    min-height: 52px;
                    padding: 15px 0;
                }
            }
        }

        // nav list
        ul {
            @include flex(row, 0, space-between);
            opacity: 1;
            width: 60%;
            margin: 0 auto 20px auto;
            padding: 20px 0 0 0;
            list-style: none;

            li a {
                padding: 10px 20px;
            }

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                @include flex (column, 0, center);
                @include positioning (fixed, "", 0);
                display: none;
                opacity: 0;
                width: 100%;
                height: 100vh;
                padding-top: 60px;
                background: $color1;
                z-index: 3;

                li a, li a:focus, li a:hover {
                    background: $white;
                    border-bottom: solid $color2 5px;
                    font-style: italic;
                    display: block;
                    width: 100%;
                    padding: 15px 20px;
                    margin-bottom: 20px;
                }
            }
        }
        // nav list when active
        &.active {

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                .hamburger-btn {
                    background-color: $color2;
                    border-color: $white;

                    button {
                        .ham-icon {
                            transform: rotate(90deg);
                        }
                    }
                    .nav-name {
                        visibility: visible;
                        animation: fade-in 0.4s;
                    }
                }
                ul {
                    display: flex;
                    animation: fade-in 0.4s;
                    opacity: 1;
                }
            }
        }
    }

    // main title
    .title {
        @include positioning (absolute, 50%, "", "", 50%);
        width: 100%;
        transform: translate(-50%, -50%);
        animation: 1s ease-in-out fade-in;
    }

    // scroll down button
    .scroll-down {
        @include positioning (absolute, "", "", 10%, 50%);
        animation: 4s infinite ease-in-out pulse;
    }
}

// about section
#about {

    // wrapper
    .wrapper {
        @include flex(row, 5%, "", center);

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            flex-direction: column;
        }
    }

    // content container
    .about-content {
        @include flex(row, 20px);
        @include borderedBox(rgba($white, 0.8), $color2);
        max-width: 100%;
        width: 95%;
        padding: 20px;
        margin: 0 auto 20px auto;

        .portrait {
            display: flex;
            margin: 5px;
            img {
                border: solid $color1 4px;
                width: 275px;
                height: 275px;
            }
    
            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                width: 100%;
                img {
                    margin: 0 auto;
                }
            }

            // responsive to mobile
            @media only screen and (max-width: $mobile) {
               width: initial;
               img {
                width: 225px;
                height: 225px;
               }
            }
        }

        .bio-1 {
            @include flex(column, 20px, center);
            max-width: calc(100% - 325px);
            min-height: 275px;

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                min-height: initial;
                max-width: 100%;
                margin: 20px;
                margin-top: 0;
            }

            // responsive to mobile
            @media only screen and (max-width: $mobile) {
                margin: 0;
            }
        }

        .bio-2 {
            margin: 20px;
            @include flex(column, 20px, center);

            // responsive to mobile
            @media only screen and (max-width: $mobile) {
                margin: 0;
            }
        }

        hr {
            border-color: $color1;
            margin: 0;
        }

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            margin-top: 20px;
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            width: 85%;

            hr {
                width: 100%;
            }

        }
    }
}

// projects
#projects {

    // projects navigation
    .projects-nav {
        @include flex(column, 10px);
        width: 100%;
        margin: 20px 0;

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            width: 85%;
            margin: 20px auto;
        }

        // project categories
        .project-filters {
            @include flex(row, 10px);
            padding: 0;
            margin: 0;

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                width: 100%;
            }
        }

    }
    
    // projects container
    .projects-container {
        margin: 0 auto;
        padding-bottom: 20px;
        @include flex(row, 10px, center);
        max-width: 95%;

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            flex-direction: column;
            width: 85%;
        }

        // individual projects
        .project {
            @include borderedBox(rgba($color2, 0.8), $color1);
            margin: 0;
            height: 100%;
            width: calc(50% - 5px);
            max-width: 550px;

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                width: 100%;
                max-width: 100%;
            }

            // project description
            .project-description {
                @include flex(row, 0, center);
                padding: 20px;
                padding-top: 0;
                overflow: hidden;
                gap: 10px;

                // buttons
                .button {
                    padding: 10px 15px;

                    &:hover, &:focus, &.read-less {
                        background-color: $color1;
                    }
                }

                // responsive to tablet
                @media only screen and (max-width: $tablet) {
                    justify-content: left;

                    .button {
                        padding: 10px;
                        
                        &:hover, &:focus {
                            background-color: $white;
                        }
                        &.read-less:hover, &.read-less:focus {
                            background-color: $color1;
                        }
                    }
                }
                
                // project paragraphs when hidden
                p {
                    width: 100%;
                    max-height: 0;
                    opacity: 0;
                    transition: max-height 0.75s;
                }

                // project paragraphs when revealed
                &.active {
                    p {
                        @include borderedBox(rgba($white, 0.8), $color1);
                        padding: 15px;
                        margin-top: 10px;
                        opacity: 1;
                        transition: max-height 0.6s, opacity 0.75s;
                    }
                }
            }
        }
    }
}

// contact section
#contact {

    // content container
    .contact-content {
        @include flex(column, 20px);
        @include borderedBox(rgba($white, 0.8), $color2);
        padding: 20px;
        width: 95%;
        margin: 0 auto;

        p {
            margin: 20px;
            &:first-of-type {
                margin-bottom: 0;
            }
            &:last-of-type {
                margin-top: 0;
            }
            
            // responsive to mobile
            @media only screen and (max-width: $mobile) {
                margin: 0;
            }
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            width: 85%;
            margin-top: 20px;
        }
    }
}

// footer
footer .wrapper {
    @include flex(column, 0, center, center);
    padding: 20px 0;
    margin: 20px auto;
    width: 85%;

    // horizontal line
    hr {
        width: 85%;
        margin: 30px 0;
        border-color: $color2;
    }

    // footer button
    .button {
        background: $color1;

        &:hover, &:focus {
            background: $color2;

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                background: $color1;
            }
        }
    }
}