// import all partials
@use 'partials/setup';
@use 'partials/alt';
// @use 'partials/weird-liquid';
@use 'partials/trans-id';
@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/typography' as *;
@use 'partials/animations';

// default wrapper
.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        width: 100%;
        margin-bottom: 10px;
    }
}

.js-enabled {
    display: none;
}

.js-disabled {
    margin: 0 auto;
    margin-top: 80px;
    padding: 40px 20px;
    @include textStyle (18px, center, 1.5);
    font-style: italic;
    width: 90%;
    opacity: 0;
    border: solid $white 5px;
    animation: fade-in-error 0.75s ease-in 1.5s forwards;

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        width: 80%;
        font-size: 16px;
        margin-top: 120px;
    }
}

// body background and overflow
body {
    background: $white;

    &.nav-open {
        
        // responsive to mobile
        @media only screen and (max-width: $tablet) {
            overflow-y: hidden;
        }
    }

}

// coloured section backgrounds
#services {
    background: rgba($color3, 0.4);
}

// coloured section backgrounds
#about, #contact {
    background: rgba($color1, 0.6);
}

// section padding
#about, #projects, #services, #contact {
    padding: 30px 0;

    // responsive to mobile
    @media only screen and (max-width: $tablet) {
        padding: 70px 0;
    }
}

// horizontal lines
hr {
    width: 100%;
    border: solid $color1 2px;

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        width: 85%;
    }
}

// buttons
    .button {
        background: $white;
        border: none;
        padding: 10px 25px;

        &:hover, &:focus, &.read-less {
            cursor: pointer;
            background: $color2;
            color: $black;
            font-style: italic;
        }

        &:hover, &:focus {
            transition: background-color 0.75s;
        }

        i {
            font-size: 18px;
        }

        i.fa-external-link-square {
            font-size: 15px;
        }

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            font-style: italic;

            i {
                font-size: 16px;
            }

            i.fa-external-link-square {
                font-size: 12px;
            }

            &:hover, &:focus {
                background: $white;
            }

            &.read-less, &.read-less:hover, &.read-less:focus {
                background: $color2;
            }
        }
    }

// header section
header {
    animation: 30s infinite ease-in-out gradient;
    background: linear-gradient(120deg, rgba($color3, 0.75) 0%, rgba($color3, 0.75) 2%, rgba($color1, 0.25) 60%, rgba($color1, 0.5) 98%, rgba($color1, 0.5) 100%);
    background-size: 400% 400%;
    @include positioning(relative);
    min-height: 500px;
    height: 100vh;
    max-height: 1000px;

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        background: linear-gradient(120deg, rgba($color3, 0.9) 0%, rgba($color3, 0.9) 2%, rgba($color1, 0.25) 60%, rgba($color1, 0.9) 98%, rgba($color1, 0.9) 100%);
        background-size: 200% 200%;
        animation: 15s infinite ease-in-out gradient;
    }

    // navigation
    nav {

        opacity: 0;
        animation: fade-in 0.4s ease-in 0.4s forwards;

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            opacity: 1;
            animation: none;
        }

        // mobile menu button
        .mobile-menu {
            display: none;

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                @include positioning(fixed, 0, "", "", 0);
                cursor: pointer;
                background: $color3;
                border-bottom: solid $color2 5px;
                display: initial;
                width: 100%;
                z-index: 5;
                transition: background-color 0.75s, border-color 0.75s;
                
                button {
                    background: none;
                    border: none;
                    float: left;
                    padding: 0 10px;
                    height: 52px;

                    .menu-icon {
                        width: 30px;
                        margin-top: 12px;
                        transform: rotate(0deg);
                        transition: transform 0.75s;
                    }

                    &:hover, &:focus {
                        cursor: pointer;
                    }
                }
                .nav-name {
                    visibility: hidden;
                    user-select: none;
                    float: right;
                    margin: 0 10px;
                    min-height: 52px;
                    padding: 15px 0;
                }
            }
        }

        // nav list
        ul {
            @include flex(row, 0, space-between);
            opacity: 1;
            width: 85%;
            margin: 0 auto 20px auto;
            padding: 20px 0 0 0;
            list-style: none;

            li a {
                padding: 10px 20px;
            }

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                @include flex (column, 0, center);
                @include positioning (fixed, "", 0);
                display: none;
                opacity: 0;
                width: 100%;
                height: 100vh;
                padding-top: 60px;
                background: $color3;
                z-index: 3;

                li a, li a:focus, li a:hover {
                    background: $white;
                    border-bottom: solid $color2 5px;
                    font-style: italic;
                    display: block;
                    width: 100%;
                    padding: 15px 20px;
                    margin-bottom: 20px;
                }
            }
        }
        // nav list when active
        &.active {

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                .mobile-menu {
                    background-color: $color1;
                    border-color: $white;

                    button {
                        .menu-icon {
                            transform: rotate(90deg);
                        }
                    }
                    .nav-name {
                        visibility: visible;
                        animation: fade-in 0.4s;
                    }
                }
                ul {
                    display: flex;
                    animation: fade-in 0.4s;
                    opacity: 1;
                }
            }
        }
    }

    // main title
    .title {
        @include positioning (absolute, 50%, "", "", 50%);
        width: 100%;
        transform: translate(-50%, -50%);
        opacity: 0;
        animation: fade-in 0.75s ease-in 0.4s forwards;
    }

    // scroll down button
    .scroll-down {
        @include positioning (absolute, "", "", 10%, 50%);
        animation: 4s infinite ease-in-out pulse;

        img {
            width: 75px;

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                width: 60px;
            }
        }
    }
}

#services {
    // wrapper
    .wrapper {
        @include flex(row, 5%, "", center);

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            flex-direction: column;
        }

        hr {
            border-color: $color2;
        }

        h3 {
            font-size: 20px;
            text-align: left;
            margin: 0 auto;
            max-width: 100%;

            a {
                font-size: 20px;
                &:hover {
                    color: $color2;
                }
            }
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            h3 {
                font-size: 18px;
                max-width: 85%;
                margin: 10px auto;
                padding: 0;

                a {
                    font-size: 18px;
                }
            }
        }

    }
    .services-content {
        @include flex(column, 20px);
        @include borderedBox(rgba($white, 0.8), $color1);
        max-width: 100%;
        width: 95%;
        padding: 50px;
        margin: 20px auto;

        hr {
            border-color: $color1;
            margin: 20px 0;
            width: 95%;
        }

        .services-description {
            @include flex(column, 20px);
            gap: 20px;
        }

        .services-list p {
            font-size: 17px;
        }
        
        .service {
            @include borderedBox(rgba($color1, 0.3), $color2);
            @include flex(row, 0, left);
            padding: 10px;
            padding-top: 0;
            overflow: hidden;
            margin-top: 40px;

            &:last-of-type {
                margin-bottom: 40px;
            }

            h3, h4, li {
                width: 100%;
                text-align: left;
            }

            h3 {
                max-width: unset;
                margin: 0;
                padding: 10px;
                font-size: 26px;
                padding-bottom: 0;
                padding-top: 20px;
                padding-left: 15px;
            }

            h4 {
                font-weight: 600;
                font-size: 19px;
                margin-bottom: 10px;
                font-style: italic;
                max-width: 90%;
                border-bottom: solid 3px $color3;
            }

            ul {
                list-style-type: none;
                margin-top: 0;
                padding: 0 30px;

                li p {
                    font-size: 15px;
                }
            }
        }

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            .service {
                padding: 15px;
                font-size: 17px;

                ul {
                    padding: 0 15px;
                }

                h3 {
                    font-size: 22px;
                    padding-left: 10px;
                }
                h4 {
                    font-size: 18px;
                    max-width: 80%;
                }
            }
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            width: 85%;
            padding: 20px;

            hr {
                width: 85%;
                margin: 0;
            }

            .services-description p, .services-description a {
                font-size: 17px;
            }

            .service {
                h3, h4, li {
                    text-align: left;
                }
                ul, h3, h4 {
                    padding: 0;
                }
                ul {
                    margin-bottom: 0;
                }
            }

        }
    }
}

// about section
#about {

    // wrapper
    .wrapper {
        @include flex(row, 5%, "", center);

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            flex-direction: column;
        }

        h3 {
            font-size: 20px;
            text-align: left;
            margin: 0;

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                margin: 0 auto;
                padding-left: 0;
                padding-right: 0;
                width: 95%;
            }

            // responsive to mobile
            @media only screen and (max-width: $mobile) {
                width: 85%;
            }
        }

    }

    // content container
    .about-content {
        @include flex(column, 20px);
        @include borderedBox(rgba($white, 0.8), $color2);
        max-width: 100%;
        width: 95%;
        padding: 50px;
        margin: 0 auto 20px auto;
        
        hr {
            border-color: $color2;
            margin: 20px 0;
            width: 95%;
        }

        .basic-info {
            display: flex;
            flex-flow: row wrap;
            justify-content: left;
            align-items: center;
            width: 100%;
            min-height: 100%;

            .basic-info-caption {
                font-style: italic;
                line-height: 30px;
                margin: 0;

                .item {
                    font-style: normal;
                    margin: 4px 0;
                    background-color: rgba($color3, 0.25);
                    padding: 1px 10px;
                }
            }
    
            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                order: -1;
                width: 100%;
                margin: 0;

                .basic-info-caption {
                    font-size: 14px;
                    line-height: 25px;

                    .item {
                        padding: 0 8px;
                    }
                }

            }

            // responsive to mobile
            @media only screen and (max-width: $mobile) {
                flex-direction: column;
                width: 100%;
                margin: 0;
                align-items: flex-start;

                .basic-info-caption {
                    width: 100%;
                    text-align: left;
                }
            }
        }

        .bio-1 {
            width: 100%;
            margin: 0;
            @include flex(column, 20px, center);

            // responsive to mobile
            @media only screen and (max-width: $mobile) {
                margin: 0;
            }
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            width: 85%;
            padding: 20px;

            hr {
                width: 85%;
                margin: 0;
            }

        }
    }
}

// projects
#projects {

    hr {
        border-color: $color3;
    }

    // projects navigation
    .projects-nav {
        @include flex(column, 10px);
        width: 100%;
        margin: 20px 0;

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            width: 85%;
            margin: 20px auto;
        }

        // project categories
        .project-filters {
            @include flex(row, 10px);
            padding: 0;
            margin: 0;

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                width: 100%;
            }
        }

    }
    
    // projects container
    .projects-container {
        margin: 0 auto;
        padding-bottom: 20px;
        @include flex(row, 20px, center);
        max-width: 100%;

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            flex-direction: column;
            width: 85%;
        }

        // individual projects
        .project {
            @include borderedBox(rgba($color2, 0.8), $color3);
            margin: 0;
            height: 100%;
            width: calc(50% - 5px);
            max-width: 500px;

            .tags {
                min-width: 100%;
                display: flex;
                justify-content: center;
                flex-flow: row wrap;
                gap: 10px;
                background-color: rgba($white, 0.8);
                border: solid 4px $color3;
                margin: 0 15px;
                margin-top: 0px;
                padding: 10px 15px;

                a.tag, span.tag {
                    font-size: 14px;
                }

                a.tag:hover {
                    cursor: pointer;
                    font-style: italic;
                    color: $black;
                }

                .selected {
                    font-style: italic;
                    background-image: linear-gradient(120deg, $color2 0%, $color2 100%);
                }

                // responsive to tablet
                @media only screen and (max-width: $tablet) {
                    margin: 0;
                    justify-content: left;

                    a.tag, span.tag {
                        font-size: 14px;
                    }
                }
            }

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                padding: 5px;
                width: 100%;
                max-width: 100%;
            }

            // project description
            .project-description {
                @include flex(row, 0, center);
                padding: 10px;
                padding-top: 0;
                overflow: hidden;
                gap: 10px;

                // buttons
                .button {

                    display: flex;
                    gap: 5px;

                    img {
                        width: 14px;
                    }

                    padding: 10px 15px;

                    &:hover, &:focus, &.read-less {
                        background-color: rgba($color3, 0.75);
                    }
                }

                // responsive to tablet
                @media only screen and (max-width: $tablet) {
                    justify-content: left;

                    .button {
                        padding: 10px;
                        gap: 4px;

                        img {
                            padding-top: 2px;
                        }
                        
                        &:hover, &:focus {
                            background-color: $white;
                        }
                        &.read-less:hover, &.read-less:focus {
                            background-color: rgba($color3, 0.75);
                        }
                    }
                }
                
                // project paragraphs when hidden
                p {
                    display: none;
                    width: 100%;
                    max-height: 0;
                    opacity: 0;
                    transition: max-height 0.75s;
                }

                // project paragraphs when revealed
                &.active {
                    p {
                        display: block;
                        @include borderedBox(rgba($white, 0.8), $color3);
                        border-width: 4px;
                        padding: 15px;
                        opacity: 1;
                        transition: display 0.6s, max-height 0.6s, opacity 0.75s;

                        .project-image {
                            max-width: 100%;
                            border: solid 4px $color3;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}

// contact section
#contact {

    // content container
    .contact-content {
        @include flex(column, 20px);
        @include borderedBox(rgba($white, 0.8), $color2);
        padding: 20px;
        width: 95%;
        margin: 0 auto;

        .email {
            font-style: italic;
            background-color: rgba($color3, 0.25);
            padding: 0 10px;

            // responsive to mobile
            @media only screen and (max-width: $mobile) {
                display: block;
            }
        }

        p {
            margin: 20px;
            &:first-of-type {
                margin-bottom: 0;
            }
            &:last-of-type {
                margin-top: 0;
            }
            
            // responsive to mobile
            @media only screen and (max-width: $mobile) {
                margin: 0;
            }
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            width: 85%;
            margin-top: 20px;
        }
    }
}

// footer
footer .wrapper {
    @include flex(column, 0, center, center);
    padding: 20px 0;
    margin: 20px auto;
    width: 85%;

    // horizontal line
    hr {
        width: 85%;
        margin: 30px 0;
        border-color: $color2;
    }

    // footer button
    .scroll-to-top {
        background: rgba($color3, 0.75);

        &:hover, &:focus {
            background: rgba($color1, 0.75);
        }

        // responsive to tablet
        @media only screen and (max-width: $tablet) {

            &:hover, &:focus {
                background: rgba($color3, 0.75);
            }
        }
    }
}