// import all partials
@use 'partials/setup';
@use 'partials/variables' as *;
@use 'partials/typography' as *;
@use 'partials/animations';
@use 'partials/header';
@use 'partials/about';
@use 'partials/projects';
@use 'partials/contact';

// default wrapper
.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;

    // reponsive to mobile
    @media only screen and (max-width: $mobile) {
        width: 100%;
    }
}

// body background and overflow
body {
    background-color: $white;

    // responsive to mobile
    @media only screen and (max-width: $tablet) {
        &.nav-open {
            overflow-y: hidden;
        }
    }
}

// section backgrounds
#about, #contact {
    background: $color1;
}

// section padding
#about, #projects, #contact {

    // reponsive to mobile
    @media only screen and (max-width: $mobile) {
        padding: 70px 0px
    }
}

// horizontal lines
hr {
    width: 100%;
    border: solid $color2 2px;

    // reponsive to mobile
    @media only screen and (max-width: $mobile) {
        width: 85%;
    }
}

// buttons
.button {
    background: $white;
    border: none;
    padding: 10px 25px;
    &:hover, &:focus {
      background: $color2;
      transition: 0.4s;
    }
  }

// highlighted text
.highlight {
    background: linear-gradient(120deg, rgba($color2, 0.7) 0%, rgba($color2, 0.7) 100%);
    background-repeat: no-repeat;
    background-size: 100% 15%;
    background-position: 0 97%;

    // reponsive to 970px
    @media only screen and (max-width: 970px) {
        background-size: 100% 10%;
        background-position: 0 99%;
    }
}

// footer
footer {

    // wrapper
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

        // scroll to top button
        .scroll-to-top {
            background: $color2;
            width: auto;
            margin: 10px;
            display: flex;
            flex-direction: row;
            align-items: end;
            justify-content: center;
            gap: 10px;
            p {
                margin: 0;
            }
            &:hover {
                background: $color1;
                cursor: pointer;
            }
        }

        // credit text
        .credit {
            margin: 10px;
            text-align: center;
        }
    }
}