html {
  line-height: 1.75;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #b3a7bd73;
}

@font-face {
  font-family: "Source Code Pro";
  src: url(/fonts/source_code_pro/SourceCodePro-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}

body {
  max-width: 90%;
  margin: 0 auto;
}

body, .button {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  color: #282b2c;
  text-transform: lowercase;
  font-size: 16px;

  @media only screen and (max-width: 970px) {
    font-size: 15px;
  }
}

h1, h2, h3 {
  font-weight: 600;
}

h1 {
  line-height: 1.15;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 50px;
  padding: 0;
  padding-bottom: 30px;
  border-bottom: solid 4px #B57E9B;
  font-style: italic;

  @media only screen and (max-width: 970px) {
    font-size: 50px;
  }
}

h2 {
  font-size: 30px;

  @media only screen and (max-width: 970px) {
    font-size: 25px;
  }
}

h3 {
  font-size: 20px;
  margin: 15px 0;
  margin-top: 10px;
}

nav a {
  color: #674256;
}

nav h3 {
  margin-top: 20px;
}

a.view-toggle {
  line-height: 5;
}

a {
  color: #4a5a70;
  font-weight: 500;
  font-style: italic;
}


.read-more, .tags, a img {
  display: none;
}

.button {
  text-decoration: none;
  margin-right: 10px;
  border: 3px solid #B57E9B;
  padding: 10px 15px;
  line-height: 2.5;
}

hr {
  margin: 30px 0;
  border: none;
  border-top: 4px dotted #84A59D;

  &.classic-hr:last-of-type {
    display: none;
  }
}

section {
  margin-top: 50px;
}

.project-image {
  width: 90%;
  max-width: 350px;
  display: block;
  border: solid 3px #7a91b1;
  margin-bottom: 10px;
  image-rendering: pixelated;
}

footer {
  margin: 50px 0;
}