html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, button {
  font-family: "Source Code Pro", monospace;
  font-display: swap;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: #282b2c;
  text-align: center;
  text-transform: lowercase;
}

.button {
  text-decoration: none;
}

h1:hover, h1:focus, a:hover, a:focus, .button:hover, .button:focus {
  font-style: italic;
}

h2, h3, p {
  text-align: left;
}

.project-details p {
  text-align: center;
}

#about, #contact {
  color: #f3e8e9;
}

h1 {
  width: 100%;
  font-size: 75px;
  margin: 0;
}
@media only screen and (max-width: 970px) {
  h1 {
    max-width: 400px;
    font-size: 50px;
    margin: 0 auto;
  }
}

h2, h3 {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  h2, h3 {
    width: 85%;
    margin: 10px auto;
    padding: 0;
  }
}

h2 {
  font-size: 40px;
  margin: 0 auto 15px auto;
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 30px;
    margin: 0 auto;
  }
}

.projects-nav li {
  list-style-type: none;
  margin: 0;
}
.projects-nav li.selected {
  font-style: italic;
  background: linear-gradient(120deg, #B57E9B 0%, #B57E9B 100%);
  background-repeat: no-repeat;
  background-size: 100% 25%;
  background-position: 0 95%;
}
.projects-nav li a {
  cursor: pointer;
}
.projects-nav li a:hover {
  color: #B57E9B;
}

.scroll-down {
  font-size: 75px;
}

nav ul li a {
  text-decoration: none;
}
nav ul li a:hover, nav ul li a:focus {
  background: rgba(132, 165, 157, 0.7);
  font-style: italic;
  transition: 0.4s;
  outline: initial;
}
nav .ham-icon {
  font-size: 25px;
}

.scroll-to-top {
  font-size: 25px;
}
.scroll-to-top p {
  line-height: 1.5;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 0px);
  }
}
header {
  height: 100vh;
  min-height: 600px;
  max-height: 1000px;
  position: relative;
}
header nav .hamburger-btn {
  display: none;
}
@media only screen and (max-width: 970px) {
  header nav .hamburger-btn {
    display: initial;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: #84A59D;
    border-bottom: solid #f3e8e9 5px;
    position: fixed;
  }
  header nav .hamburger-btn:hover, header nav .hamburger-btn:focus {
    cursor: pointer;
    background: #B57E9B;
    color: #84A59D;
    transition: 0.4s;
  }
  header nav .hamburger-btn:hover button, header nav .hamburger-btn:focus button {
    color: #84A59D;
    cursor: pointer;
  }
  header nav .hamburger-btn button {
    background: none;
    border: none;
    float: left;
    padding: 0 10px;
    height: 52px;
  }
  header nav .hamburger-btn button .ham-icon {
    margin: 10px;
    transform: rotate(0deg);
    transition: transform 0.4s;
  }
  header nav .hamburger-btn .nav-name {
    visibility: hidden;
    float: right;
    margin: 0 10px;
    min-height: 52px;
    padding: 15px 0;
  }
  header nav .hamburger-btn.hamburger-active {
    background: #f3e8e9;
    border-bottom: solid #B57E9B 5px;
    color: #84A59D;
  }
  header nav .hamburger-btn.hamburger-active button {
    color: #84A59D;
  }
  header nav .hamburger-btn.hamburger-active button .ham-icon {
    transform: rotate(90deg);
  }
  header nav .hamburger-btn.hamburger-active .nav-name {
    visibility: visible;
    animation: fade-in 0.4s;
  }
}
header nav ul {
  display: flex;
  opacity: 1;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto 20px auto;
  padding: 20px 0 0 0;
  list-style: none;
}
header nav ul li a {
  padding: 10px 20px;
}
@media only screen and (max-width: 970px) {
  header nav ul {
    display: none;
    position: fixed;
    right: 0;
    padding-top: 60px;
    flex-flow: column;
    justify-content: center;
    background: #84A59D;
    height: 100vh;
    opacity: 0;
    width: 100%;
    z-index: 3;
  }
  header nav ul li {
    display: block;
    padding: 20px;
    width: 100%;
  }
  header nav ul li a {
    color: #282b2c;
  }
  header nav ul li a:hover, header nav ul li a:focus {
    background: rgba(181, 126, 155, 0.8);
  }
}
header .title {
  width: 100%;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 1s ease-in-out fade-in;
}
header .scroll-down {
  position: absolute;
  bottom: 10%;
  left: 50%;
  animation: 4s infinite ease-in-out pulse;
}
header .scroll-down:hover {
  cursor: pointer;
  transition: 0.4s;
}
header .scroll-down i {
  color: #84A59D;
}
header .scroll-down i:hover {
  color: rgba(181, 126, 155, 0.8);
}

#about {
  padding: 30px 0;
}
#about .wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 5%;
}
@media only screen and (max-width: 970px) {
  #about .wrapper {
    flex-flow: column nowrap;
  }
}
#about .about-content {
  background: rgba(243, 232, 233, 0.8);
  border: solid #B57E9B 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  width: 95%;
  padding: 20px;
  margin: 0 auto 20px auto;
  text-align: left;
}
#about .about-content p {
  margin: 0;
}
#about .about-content a:hover, #about .about-content a:focus {
  color: #B57E9B;
  transition: 0.4s;
}
@media only screen and (max-width: 970px) {
  #about .about-content {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  #about .about-content {
    width: 85%;
  }
}

#projects {
  padding: 30px 0;
}
#projects .projects-nav {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  margin: 20px 0;
}
#projects .projects-nav p {
  margin: 0;
}
#projects .projects-nav .project-categories {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  margin: 0;
}
#projects .projects-container {
  max-width: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  text-align: left;
  margin: 0 auto;
  padding-bottom: 20px;
}
#projects .projects-container .project {
  text-align: center;
  height: 100%;
  width: calc(50% - 5px);
  max-width: 550px;
  background: rgba(132, 165, 157, 0.7);
  border: solid #B57E9B 5px;
  color: #84A59D;
  margin: 0;
}
#projects .projects-container .project h4, #projects .projects-container .project h5 {
  margin: 0;
  padding: 0px 20px;
}
#projects .projects-container .project h4 {
  padding-top: 20px;
  padding-bottom: 5px;
}
#projects .projects-container .project .project-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
}
#projects .projects-container .project .project-details .button {
  cursor: pointer;
  margin: 5px;
}
#projects .projects-container .project .project-details hr {
  display: none;
  margin: 20px 0;
  opacity: 0;
  transition: opacity 0.4s;
}
#projects .projects-container .project .project-details p {
  margin: 0;
  width: 100%;
  max-height: 0;
  opacity: 0;
  transition: opacity, max-height 0.4s;
}
@media only screen and (max-width: 970px) {
  #projects .projects-nav {
    display: flex;
    flex-flow: column wrap;
    gap: 0;
  }
  #projects .projects-nav .project-categories {
    padding: 10px 0;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
  }
  #projects .project-categories {
    display: block;
    width: 100%;
    text-align: left;
  }
  #projects .projects-container {
    flex-flow: column;
    width: 550px;
    max-width: 85%;
  }
  #projects .projects-container .project {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  #projects .projects-nav {
    width: 85%;
    margin: 20px auto;
  }
}

#contact {
  margin-bottom: 10px;
  padding: 30px 0;
}
#contact .contact-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  width: 95%;
  background: rgba(243, 232, 233, 0.8);
  border: solid #B57E9B 5px;
  padding: 20px;
  margin: 0 auto;
}
#contact .contact-content p {
  margin: 0;
}
#contact .contact-content p a:hover, #contact .contact-content p a:focus {
  color: #B57E9B;
  transition: 0.4s;
}
@media only screen and (max-width: 768px) {
  #contact {
    padding: 70px 0 50px 0;
  }
  #contact .contact-content {
    width: 85%;
    margin-top: 20px;
  }
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}

body {
  background-color: #f3e8e9;
}
@media only screen and (max-width: 768px) {
  body.nav-open {
    overflow-y: hidden;
  }
}

#about, #contact {
  background: rgba(132, 165, 157, 0.7);
}

@media only screen and (max-width: 768px) {
  #about, #projects, #contact {
    padding: 70px 0px;
  }
}

hr {
  width: 100%;
  border: solid #B57E9B 2px;
}
@media only screen and (max-width: 768px) {
  hr {
    width: 85%;
  }
}

.button {
  background: #f3e8e9;
  border: none;
  padding: 10px 25px;
}
.button:hover, .button:focus {
  background: #B57E9B;
  transition: 0.4s;
}

.highlight {
  background: linear-gradient(120deg, rgba(181, 126, 155, 0.7) 0%, rgba(181, 126, 155, 0.7) 100%);
  background-repeat: no-repeat;
  background-size: 100% 15%;
  background-position: 0 97%;
}
@media only screen and (max-width: 970px) {
  .highlight {
    background-size: 100% 10%;
    background-position: 0 99%;
  }
}

footer .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
footer .wrapper .scroll-to-top {
  background: #B57E9B;
  width: auto;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  gap: 10px;
}
footer .wrapper .scroll-to-top p {
  margin: 0;
}
footer .wrapper .scroll-to-top:hover {
  background: #84A59D;
  cursor: pointer;
}
footer .wrapper .credit {
  margin: 10px;
  text-align: center;
}