html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body, .button {
  font-size: 18px;
  text-align: left;
  line-height: 1;
  color: #282b2c;
  font-family: "Source Code Pro", monospace;
  font-display: swap;
  font-weight: 600;
  text-transform: lowercase;
  text-decoration: none;
}

.highlight, .selected {
  background: linear-gradient(120deg, #B57E9B 0%, #B57E9B 100%);
  background-repeat: no-repeat;
}

.selected {
  background-size: 100% 25%;
  background-position: 0 95%;
}

.highlight {
  background-size: 100% 15%;
  background-position: 0 97%;
}
@media only screen and (max-width: 970px) {
  .highlight {
    background-size: 100% 10%;
    background-position: 0 99%;
  }
}

a {
  font-size: 18px;
  text-align: left;
  line-height: 1;
  color: #282b2c;
  transition: 0.4s color, 0.4s font-style;
}
a:hover, a:focus {
  cursor: pointer;
  color: #B57E9B;
  font-style: italic;
}
@media only screen and (max-width: 970px) {
  a {
    font-style: italic;
  }
}

.button, nav ul li a {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

h2 {
  font-size: 40px;
  margin: 20px;
  padding: 25px 25px 10px 25px;
}

.scroll-down {
  font-size: 75px;
  text-align: center;
  line-height: "";
  color: #84A59D;
  cursor: pointer;
}
.scroll-down:hover {
  color: #B57E9B;
}
@media only screen and (max-width: 970px) {
  .scroll-down:hover {
    color: #84A59D;
  }
}

.ham-icon {
  font-size: 25px;
  text-align: center;
  line-height: 1;
  color: #282b2c;
}

.scroll-to-top {
  font-size: 25px;
  text-align: center;
  line-height: 1;
  color: #282b2c;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: flex-end;
  width: auto;
  margin: 10px;
  background: #B57E9B;
  cursor: pointer;
}
.scroll-to-top p {
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  color: #282b2c;
  margin: 0;
}
.scroll-to-top:hover {
  background: #84A59D;
}

nav ul li a {
  text-decoration: none;
  border-bottom: solid #84A59D 3px;
}
nav ul li a:hover, nav ul li a:focus {
  color: #282b2c;
  border-bottom: solid #B57E9B 3px;
  outline: initial;
  transition: 0.4s;
}

h1 {
  font-size: 75px;
  text-align: center;
  line-height: 1;
  color: #282b2c;
  width: 100%;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
h1:hover, h1:focus {
  font-style: italic;
  transition: 0.4s;
}
@media only screen and (max-width: 970px) {
  h1 {
    font-size: 65px;
    text-align: center;
    line-height: 1;
    color: #282b2c;
    max-width: 500px;
    font-style: italic;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
    text-align: center;
    line-height: 1;
    color: #282b2c;
    max-width: 400px;
  }
}

h2 {
  font-size: 40px;
  text-align: left;
  line-height: 1;
  color: #282b2c;
  margin: 0 auto 15px auto;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 30px;
    text-align: left;
    line-height: 1;
    color: #282b2c;
    width: 85%;
    margin: 10px auto;
    padding: 0;
  }
}

h3 {
  font-size: 20px;
  text-align: center;
  line-height: 1;
  color: #282b2c;
  margin: 0;
  padding: 20px 5px 20px 20px;
}

p {
  margin: 0;
}

.projects-nav li {
  list-style-type: none;
  margin: 0;
}
@media only screen and (max-width: 970px) {
  .projects-nav p, .projects-nav li, .projects-nav li a {
    font-size: 16px;
    font-style: normal;
  }
  .projects-nav .selected {
    font-style: italic;
  }
}

.project-details p {
  font-size: 18px;
  text-align: center;
  line-height: 1;
  color: #282b2c;
}

footer .credit {
  font-size: 18px;
  text-align: center;
  line-height: 1;
  color: #282b2c;
  margin: 10px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 0px);
  }
}
.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    margin-bottom: 10px;
  }
}

body {
  background: #f3e8e9;
}
@media only screen and (max-width: 970px) {
  body.nav-open {
    overflow-y: hidden;
  }
}

#about, #contact {
  background: #84A59D;
}

#about, #projects, #contact {
  padding: 30px 0;
}
@media only screen and (max-width: 970px) {
  #about, #projects, #contact {
    padding: 70px 0;
  }
}

hr {
  width: 100%;
  border: solid #B57E9B 2px;
}
@media only screen and (max-width: 768px) {
  hr {
    width: 85%;
  }
}

.button {
  background: #f3e8e9;
  border: none;
  padding: 10px 25px;
}
.button:hover, .button:focus, .button.read-less {
  cursor: pointer;
  background: #B57E9B;
  color: #282b2c;
  font-style: italic;
}
.button:hover, .button:focus {
  transition: 0.4s;
}
@media only screen and (max-width: 970px) {
  .button {
    font-style: italic;
  }
  .button:hover, .button:focus {
    background: #f3e8e9;
  }
  .button.read-less, .button.read-less:hover, .button.read-less:focus {
    background: #B57E9B;
  }
}

header {
  position: relative;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  min-height: 500px;
  height: 100vh;
  max-height: 1000px;
}
header nav .hamburger-btn {
  display: none;
}
@media only screen and (max-width: 970px) {
  header nav .hamburger-btn {
    position: fixed;
    top: 0;
    right: "";
    bottom: "";
    left: 0;
    cursor: pointer;
    background: #84A59D;
    border-bottom: solid #f3e8e9 5px;
    display: initial;
    width: 100%;
    z-index: 5;
  }
  header nav .hamburger-btn button {
    background: none;
    border: none;
    float: left;
    padding: 0 10px;
    height: 52px;
  }
  header nav .hamburger-btn button:hover, header nav .hamburger-btn button:focus {
    cursor: pointer;
    transition: 0.4s;
  }
  header nav .hamburger-btn button .ham-icon {
    margin: 10px;
    transform: rotate(0deg);
    transition: transform 0.4s;
  }
  header nav .hamburger-btn .nav-name {
    visibility: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    float: right;
    margin: 0 10px;
    min-height: 52px;
    padding: 15px 0;
  }
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  align-items: initial;
  opacity: 1;
  width: 60%;
  margin: 0 auto 20px auto;
  padding: 20px 0 0 0;
  list-style: none;
}
header nav ul li a {
  padding: 10px 20px;
}
@media only screen and (max-width: 970px) {
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: initial;
    position: fixed;
    top: "";
    right: 0;
    bottom: initial;
    left: initial;
    display: none;
    opacity: 0;
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    background: #84A59D;
    z-index: 3;
  }
  header nav ul li a, header nav ul li a:focus, header nav ul li a:hover {
    background: #f3e8e9;
    border-bottom: solid #B57E9B 5px;
    font-style: italic;
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 970px) {
  header nav.active .hamburger-btn {
    background: #B57E9B;
  }
  header nav.active .hamburger-btn button .ham-icon {
    transform: rotate(90deg);
  }
  header nav.active .hamburger-btn .nav-name {
    visibility: visible;
    animation: fade-in 0.4s;
  }
  header nav.active ul {
    display: flex;
    animation: fade-in 0.4s;
    opacity: 1;
  }
}
header .title {
  position: absolute;
  top: 50%;
  right: "";
  bottom: "";
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  animation: 1s ease-in-out fade-in;
}
header .scroll-down {
  position: absolute;
  top: "";
  right: "";
  bottom: 10%;
  left: 50%;
  animation: 4s infinite ease-in-out pulse;
  transition: 0.4s;
}

#about .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5%;
  justify-content: "";
  align-items: center;
}
@media only screen and (max-width: 970px) {
  #about .wrapper {
    flex-direction: column;
  }
}
#about .about-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  justify-content: initial;
  align-items: initial;
  background: rgba(243, 232, 233, 0.8);
  border: solid #B57E9B 5px;
  max-width: 100%;
  width: 95%;
  padding: 20px;
  margin: 0 auto 20px auto;
}
@media only screen and (max-width: 970px) {
  #about .about-content {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  #about .about-content {
    width: 85%;
  }
}

#projects .projects-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: initial;
  align-items: initial;
  width: 100%;
  margin: 20px 0;
}
#projects .projects-nav .project-categories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: initial;
  align-items: initial;
  padding: 0;
  margin: 0;
}
#projects .projects-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: initial;
  max-width: 95%;
  margin: 0 auto;
  padding-bottom: 20px;
}
#projects .projects-container .project {
  background: #84A59D;
  border: solid #B57E9B 5px;
  height: 100%;
  width: calc(50% - 5px);
  max-width: 550px;
  margin: 0;
}
#projects .projects-container .project .project-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  align-items: initial;
  padding: 20px;
  padding-top: 0;
  overflow: hidden;
}
#projects .projects-container .project .project-details .button {
  padding: 10px 20px;
  margin: 5px;
}
#projects .projects-container .project .project-details hr {
  border-color: #f3e8e9;
  display: none;
  margin: 20px 0;
  opacity: 0;
}
#projects .projects-container .project .project-details p {
  width: 100%;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s;
}
#projects .projects-container .project .project-details.active p {
  opacity: 1;
}
#projects .projects-container .project .project-details.active hr {
  display: unset;
  opacity: 1;
}
@media only screen and (max-width: 970px) {
  #projects .projects-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0;
    justify-content: initial;
    align-items: initial;
  }
  #projects .projects-nav .project-categories {
    width: 100%;
    padding: 10px 0;
  }
  #projects .projects-container {
    flex-direction: column;
    width: 550px;
    max-width: 85%;
  }
  #projects .projects-container .project {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  #projects .projects-nav {
    width: 85%;
    margin: 20px auto;
  }
}

#contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  justify-content: initial;
  align-items: initial;
  background: rgba(243, 232, 233, 0.8);
  border: solid #B57E9B 5px;
  width: 95%;
  padding: 20px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  #contact {
    padding: 70px 0;
  }
  #contact .contact-content {
    width: 85%;
    margin-top: 20px;
  }
}

footer .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px auto;
}
footer .wrapper .button {
  background: #B57E9B;
}
footer .wrapper .button:hover, footer .wrapper .button:focus {
  background: #84A59D;
}
@media only screen and (max-width: 970px) {
  footer .wrapper .button:hover, footer .wrapper .button:focus {
    background: #B57E9B;
  }
}
footer .wrapper .credit {
  margin-top: 30px;
}